<footer id="footer" role="contentinfo">
  <div class="container">
    <div id="nav">
      <h2>Menu</h2>
      <ul>
        {% assign nav_pages = site.html_pages | where_exp: "page", "page.in_menu
        == true or page.in_menu == nil" | sort: "order" %}
        <li>
          <a href="{{ homepage.url | relative_url }}">
            {{ site.title | default: homepage.title }}
          </a>
        </li>

        {% for page in nav_pages %} {% if page != homepage %}
        <li>
          <a href="{{ page.url | relative_url }}">{{page.title}}</a>
        </li>
        {% endif %} {% endfor %}
      </ul>
    </div>
  </div>
</footer>
