<footer id="footer" role="contentinfo">
  <div class="container">
    <div id="nav">
      <h2>Menu</h2>
      <ul>
        {% assign nav_pages = site.html_pages | where_exp: "page", "page.in_menu
        == true or page.in_menu == nil" | sort: "order" %}
        <li>
          <a href="{{ homepage.url | relative_url }}">
            {{ site.title | default: homepage.title }}
          </a>
        </li>

        {% for nav_page in nav_pages %}
					{% if nav_page != homepage %}
						<li>
							<a href="{{ nav_page.url | relative_url }}" {% if page.url == nav_page.url %} aria-current="page" {% endif %}>
								{{nav_page.title}}
							</a>
						</li>
					{% endif %}
				{% endfor %}
      </ul>
    </div>
  </div>
</footer>
