---
---

:root {
  --couleur-primaire: #2a6442;

  --underline-max-width: 100%;
  --underline-hover-width: 0;
  --underline-idle-width: var(--underline-max-width);
  --underline-x: calc(var(--underline-max-width) * 0);
  --underline-img: linear-gradient(0deg, currentColor, currentColor);
  --external-link-content: "";
}

*,
::before,
::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Luciole";
  src: url("../fonts/Luciole-Regular.woff") format("woff"),
    url("../fonts/Luciole-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Luciole";
  src: url("../fonts/Luciole-Bold.woff") format("woff"),
    url("../fonts/Luciole-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Luciole";
  src: url("../fonts/Luciole-Italic.woff") format("woff"),
    url("../fonts/Luciole-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Luciole";
  src: url("../fonts/Luciole-BoldItalic.woff") format("woff"),
    url("../fonts/Luciole-BoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

html {
  font-family: "Luciole", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.4;
  color: black;
  background-color: white;
}

.skip-links {
  position: absolute;
  transform: translateY(-100%);
  color: white;
}

.skip-links:focus {
  transform: translateY(0%);
}

header {
  padding-block: 1.125rem;
  color: white;
  background-color: var(--couleur-primaire);

  .container {
    display: flex;
    justify-content: flex-end;
  }

  a {
    color: inherit;

    &[href="#nav"] {
      @media screen and (min-width: 62rem) {
        display: none;
      }
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  ul {
    display: none;
    align-items: center;
    list-style: none;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    @media screen and (min-width: 62rem) {
      display: flex;
    }
  }

  li {
    & + li {
      margin-top: 0;
    }
  }
}

.site-title {
  font-size: 1.2em;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 4px solid var(--couleur-primaire);

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
  }
}

main {
  max-width: 70ch;
  min-height: 80vh;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

h1:not(:first-of-type),
h2:not(:first-child),
h3,
h4,
h5,
h6 {
  margin-top: 3rem;
}

h1,
h2,
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 0;
}

h1 {
  font-size: 3rem;
  color: var(--couleur-primaire);
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}

a {
  color: var(--couleur-primaire);
  text-decoration: none;
}

a[href]:active,
a[href]:hover {
  --underline-hover-width: var(--underline-max-width);
}

[href] {
  background-image: var(--underline-img), var(--underline-img);
  background-position: var(--underline-x) 100%,
    var(--underline-x) calc(100% - 0.0625em);
  background-repeat: no-repeat, no-repeat;
  background-size: var(--underline-hover-width) 0.125em,
    var(--underline-idle-width) 0.0625em;
  transition: background-size 0s;
}

ul, ol {
  margin: 0;
  padding-left: 1rem;
}

li + li,
li > ul,
li > ol {
  margin-top: 0.5rem;
}

blockquote {
  margin-right: 0;
  margin-left: 0;
  padding: 0.5rem 1rem;
  border-left: 4px solid var(--couleur-primaire);

  p {
    margin: 0;

    & + p {
      margin-top: 1rem;
    }
  }
}

code {
  padding: 0.2rem;
  background-color: #abe1c3;
}

pre {
  padding: 1rem;
  color: white;
  background-color: black;

  code {
    background: none;
  }
}

img {
  display: block;
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

.blog-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
  margin-bottom: 2rem;

  & > a {
    align-self: flex-end;
  }

  h2 {
    margin-bottom: 1rem;
    font-weight: normal;

    a {
      background: none;
    }
  }
}

.projects {
  display: flex;
  gap: 4rem 2.5rem;
  flex-wrap: wrap;
}

.project {
  flex-basis: calc(50% - 1.25rem);
  display: flex;
  flex-direction: column;

  img {
    max-height: 25rem;
    margin: 0 auto;
  }

  h2 {
    margin: 1rem 0;
    font-weight: normal;
    font-size: 2rem;

    a {
      background: none;
    }
  }

  & > a {
    align-self: flex-end;
  }
}
